<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaft.org">
  <head th:insert="/layouts/head::head">
    <meta charset="UTF-8" />
    <title>Conferencias</title>
    <link rel="stylesheet" href="../static/css/style.css">
  </head>

  <body>
    <header th:insert="/layouts/header::header"> </header>
      
    <section>
      <h1 class="titulo">CLASES</h1>
      <p class="parrafo">
     	 Invitación a la conferencia que organiza la Academia de la Ingeniería de
        la Provincia de Buenos Aires, a realizarse el día 9 de septiembre a las
        17 horas, utilizando la plataforma webex.
        
      </p>
    </section>
    <table style="border: 1px solid black">
      <tr>
        <th style="border: 1px solid black">Titulo del curso</th>
        <th style="border: 1px solid black">Fecha de inicio</th>
        <th style="border: 1px solid black">Horario</th>
        <th style="border: 1px solid black">Fecha fin</th>
        <th style="border: 1px solid black">Presencial/Normal</th>
        <th style="border: 1px solid black">Docente</th>
        <th style="border: 1px solid black">Duracion en semanas</th>
      </tr>
      <tr>
        <td style="border: 1px solid black">Pv</td>
        <td style="border: 1px solid black">20/03/2022</td>
        <td style="border: 1px solid black">Tarde</td>
        <td style="border: 1px solid black">20/06/2022</td>
        <td style="border: 1px solid black">Mixto</td>
        <td style="border: 1px solid black">Apaza</td>
        <td style="border: 1px solid black">4hs</td>
      </tr>
    </table>
    
    <footer th:insert="/layouts/footer::footer"> </footer>
  </body>
</html>
