<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Conferencias</title>
  </head>

  <body>
    <header>
      <h1>Conferencias</h1>
      <img
        src="https://img.freepik.com/vector-gratis/jovenes-hombres-mujeres-que-participan-reuniones-negocios_171919-659.jpg?w=826"
        alt="cargar"
      />
    </header>
    <nav>
      <li>Inicio</li>
      <li>Agenda</li>
      <li>Beneficios y Becas</li>
      <li>Contactos</li>
    </nav>
    <section>
      <h2>Clases</h2>
      <p>
        Invitación a la conferencia que organiza la Academia de la Ingeniería de
        la Provincia de Buenos Aires, a realizarse el día 9 de septiembre a las
        17 horas, utilizando la plataforma webex.
      </p>
    </section>
    <table style="border: 1px solid black">
      <tr>
        <th style="border: 1px solid black">Titulo del curso</th>
        <th style="border: 1px solid black">Fecha de inicio</th>
        <th style="border: 1px solid black">Horario</th>
        <th style="border: 1px solid black">Fecha fin</th>
        <th style="border: 1px solid black">Presencial/Normal</th>
        <th style="border: 1px solid black">Docente</th>
        <th style="border: 1px solid black">Duracion en semanas</th>
      </tr>
      <tr>
        <td style="border: 1px solid black">Pv</td>
        <td style="border: 1px solid black">20/03/2022</td>
        <td style="border: 1px solid black">Tarde</td>
        <td style="border: 1px solid black">20/06/2022</td>
        <td style="border: 1px solid black">Mixto</td>
        <td style="border: 1px solid black">Apaza</td>
        <td style="border: 1px solid black">4hs</td>
      </tr>
    </table>
  </body>
</html>
