<!DOCTYPE html>
<html lang="es" xmlns:th="http://thymeleaft.org">
<head th:insert="/layouts/head::head">
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    	<header th:insert="/layouts/header::header"> </header>
    	<h1 class="titulo">Formulario</h1>
		<form action="http://www.fi.unju.edu.ar" method="post">
			<label> Nombre y Apellido </label>
			<input id="idapelido" type="text" name="apellido"/>
			<br />
			<br />
			<label> Provincia </label>
			<select name:"provincia">
			<option value="jujuy">Jujuy</option>
			<option value="mendosa">Mendoza</option>
			<option value="salta">Salta</option>
			</select>
			<br />
			<br>
			<label> Telefono </label>
			<input id="idtelefono" type="number"  name="telefono"/>
			<br />
			<br>
			<label> Correo Electronico</label>
			<input id="idemail" type="email" name="email" />
			<br />
			 <br/>
			<label> Estado Civil</label>
			<br/>
		    <label for="idcasado">Casado</label>
			<input id="idcasado" type="radio" value="casado" name="estadocivil"/>
			<br/>
			<label for="idsoltero">Soltero</label>	
			<input id="idsoltero "type="radio" value="soltero" name="estadocivil"/>
			<br/>
			<label for="idotro">Otro</label>	
			<input id="idotro "type="radio" value="otro" name="estadocivil"/>
			<br />
			 <br/>
			 <label for="msg">Mensaje:</label>
   			 <textarea id="msg" name="user_message"></textarea>
   			 <br/>
   			 <br/>
   			<button type="submit">Envíar</button>
   			 
		</form>
	
	<footer th:insert="/layouts/footer::footer"> </footer>
</body>
</html>