<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    	<header>
		<nav>
			<ul>
				<li><a href="index.html">Inicio</a></li>
				<li><a href="agenda.html">Agenda</a></li>
				<li><a href="beneficios.html">Beneficio y Becas</a></li>
				<li><a href="contacto.html">Contactanos</a></li>
			</ul>
		
		</nav>
		</header>
		<form action="http://www.fi.unju.edu.ar" method="post">
			<label> Nombre y Apellido </label>
			<input id="idapelido" type="text" name="apellido"/>
			<br />
			<br />
			<label> Provincia </label>
			<select name:"provincia">
			<option value="jujuy">Jujuy</option>
			<option value="mendosa">Mendoza</option>
			<option value="salta">Salta</option>
		</select>
			<br />
			<br>
			<label> Telefono </label>
			<input id="telefono" type="number""  name="telefono"/>
			<br />
			<br>
			<label> Correo Electronico</label>
			<input id="idemail" type="email" name="email" />
			<br />
			 <br/>
			<label> Estado Civil</label>
			<br/>
		    <label for="idcasado">Casado</label>
			<input id="idcasado" type="radio" value="casado" name="estadocivil"/>
			<br/>
			<label for="idsoltero">Soltero</label>	
			<input id="idsoltero "type="radio" value="soltero" name="estadocivil"/>
			<br/>
			<label for="idotro">Otro</label>	
			<input id="idotro "type="radio" value="otro" name="estadocivil"/>
			<br />
			 <br/>
			 <label for="msg">Mensaje:</label>
   			 <textarea id="msg" name="user_message"></textarea>
   			 <br/>
   			 <br/>
   			<button type="submit">Envíar</button>
   			 
		</form>
	
		<footer>
		<p>2022. Portal de Capacitacion-Avenida General Manuel Belgrano
			789-Telefono(388)999999 S. S. de Jujuy Republica Argentina</p>
	</footer>
	
</body>
</html>