<!DOCTYPE html>
<html xmlns:th="http://thymeleaft.org">
<head th:insert="/layouts/head::head">
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<header th:insert="/layouts/header::header"> </header>
	
	<br>
	<br>
	<section>
		Cursos con Inscripcion abierta

		<ol>
			<li><a href="">Idiomas</a></li>
			<li><a href="">Diseños </a></li>
			<li><a href="">Desarrollo</a></li>
			<li><a href="">Marketing</a></li>
			<li><a href="Conferencias.html">Conferencias</a></li>
		</ol>
	</section>
	
<br>
<br>

	<img alt="imagen1" src="/imagen/descarga.png" title="Facultad de Ingenieria">
		
	<footer th:insert="/layouts/footer::footer"> </footer>
	
	<br>
</body>
</html>