<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<header>
		<!--<nav>
			<ul>
				<a href="index.html">Inicio</a>
			</ul>
			<ul>
				<a href="agenda.html">Agenda</a>
			</ul>
			<ul>
				<a>Beneficio y Becas</a>
			</ul>
			<ul>
				<a>Contactanos</a>
			</ul> -->
			<nav>
			<ul>
				<li><a href="index.html">Inicio</a></li>
				<li><a href="agenda.html">Agenda</a></li>
				<li><a href="beneficios.html">Beneficio y Becas</a></li>
				<li><a href="contacto.html">Contactanos</a></li>
				</header>
			</ul>
		
		</nav>
	</header>
	<br>
	<br>
	<br>
	<section>
		Cursos con Inscripcion abierta

		<ol>
			<li><a href="">Idiomas</a></li>
			<li><a href="">Diseños </a></li>
			<li><a href="">Desarrollo</a></li>
			<li><a href="">Marketing</a></li>
			<li><a href="">Conferencias</a></li>
		</ol>
	</section>
	
<br>
<br>

	<header>
		<h1>TITULO</h1>
	</header>
	<img alt="imagen1" src="../static/imagen/descarga.png"
		title="Facultad de Ingenieria">
	<footer>
		<p>2022. Portal de Capacitacion-Avenida General Manuel Belgrano
			789-Telefono(388)999999 S. S. de Jujuy Republica Argentina</p>
	</footer>
	
	<br>
</body>
</html>