<!DOCTYPE html>
<html lang="es" xmlns:th="http://thymeleaf.org">
<head th:insert="/layouts/head::head">
    <meta charset="UTF-8">
    <title>Tabla </title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
  <body>
  <header th:insert="/layouts/header::header"> </header>
    <div>
         <section>
          <h1>Plantel Docente</h1>
          <div class="d-flex justify-content-md-end mb-3">
          <a  id="" class="btn btn-primary" th:href="@{/docente}">Nuevo</a>
           </div>
          <table class="table">      
            <tbody>
              <thead>
                <tr>
                <th>Legajo</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>email</th>
                <th>telefono</th>
                </tr>
            </thead>
            <tbody>
              <tr th:each="docente:${docentes}">
                <td th:text="${docente.legajo}"></td>
                <td th:text="${docente.nombre}"></td>
                <td th:text="${docente.apellido}"></td>
                <td th:text="${docente.email}"></td> 
                <td th:text="${docente.telefono}"></td>
                <td>
                <!-- identificar de docente, legajo -->
        
                    <a th:href="@{/editar/}+${docente.legajo}" id="editarDocente" class="btn btn-warning">Editar</a>
				 <a th:href="@{/eliminar/}+${docente.legajo}" id="eliminarDocente" class="btn btn-danger">Eliminar</a>
              	</td>
               </tr> 
            </tbody>
          </table>      
         </section>
       </div>
  </body>
</html>