<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<-- //dni_nombre_apellido_email_telefono -->
<body>
<form th:action="@{/formulario/guardar}" th:object="${persona}" method="post" class="row g-3" >
  <div class="col-md-6">
    <label for="dni" class="form-label">dni</label>
    <input th:field="*{dni}" type="number" class="form-control" id="dni" >
  </div>
  <div class="col-md-6">
    <label for="nombre" class="form-label">nombre</label>
    <input th:field="*{nombre}" type="text" class="form-control" id="nombre" >
  </div>
  <div class="col-md-6">
    <label for="apellido" class="form-label">apellido</label>
    <input th:field="*{apellido}" type="text" class="form-control" id="apellido" >
  </div>
  <div class="col-md-6">
    <label for="email" class="form-label">Email</label>
    <input th:field="*{email}" type="email" class="form-control" id="email" >
  </div>
  <div class="col-md-6">
    <label for="telefono" class="form-label">telefono</label>
    <input th:field="*{telefono}" type="number" class="form-control" id="telefono" >
  </div>

  <div class="col-12">
    <button type="submit" class="btn btn-primary">enviar</button>
  </div>
</form>

</body>
</html>