<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
//codigo_titulo _categoria_fecha inicio_fecha fin _cantidad de horas_modalidad _docente

<form th:action="@{/formulario/guardar}" th:object="${persona}" method="post" class="row g-3" >
  <div class="col-md-6">
    <label for="codigo" class="form-label">codigo</label>
    <input th:field="*{codigo}" type="number" class="form-control" id="codigo" >
  </div>
  <div class="col-md-6">
    <label for="titulo" class="form-label">titulo</label>
    <input th:field="*{titulo}" type="text" class="form-control" id="titulo" >
  </div>
  <div class="col-md-6">
    <label for="categoria" class="form-label">categoria</label>
    <input th:field="*{categoria}" type="text" class="form-control" id="categoria" >
  </div>
  <div class="col-md-6">
    <label for="fecha_inicio" class="form-label">fecha_inicio</label>
    <input th:field="*{fecha_inicio}" type="email" class="form-control" id="fecha_inicio" >
  </div>
  <div class="col-md-6">
    <label for="cantidad_horas" class="form-label">cantidad_horas</label>
    <input th:field="*{cantidad_horas}" type="number" class="form-control" id="cantidad_horas" >
  </div>
   <div class="col-md-6">
    <label for="modalidad" class="form-label">modalidad</label>
    <input th:field="*{modalidad}" type="text" class="form-control" id="modalidad" >
  </div>
   <div class="col-md-6">
    <label for="docente" class="form-label">docente</label>
    <input th:field="*{docente}" type="text" class="form-control" id="docente" >
  </div>

  <div class="col-12">
    <button type="submit" class="btn btn-primary">enviar</button>
  </div>
</form>

</body>
</html>