<!DOCTYPE html>
<html xmlns:th="http://thymeleaft.org">
<head th:insert="/layouts/head::head">
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<header th:fragment="header">
		<h1>Capacitaciones UNJU <img alt="imagen1" src="/imagen/descarga.png" title="Facultad de Ingenieria" align="right"></h1>
		
		<nav>
			<ul>
				<li><a href="index.html">Inicio</a></li>
				<li><a href="agenda.html">Agenda</a></li>
				<li><a href="beneficios.html">Beneficio y Becas</a></li>
				<li><a href="contacto.html">Contactanos</a></li>
			</ul>
		
		</nav>
	
	</header>
</body>
</html>