<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head th:insert="/layouts/head::head">
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>


	<header th:fragment="header">

			<div class="card mb-3" style="max-width: 100%;">
			  <div class="row g-0">
			    <div class="col-md-4">
			      <img alt="imagen1" src="/imagen/descarga.png" title="Facultad de Ingenieria" width="100" height="100">
			    </div>
			    <div class="col-md-8">
			      <div class="card-body">
			        <h1 class="card-title">Capacitaciones UNJU</h1>
			      </div>
			    </div>
			  </div>
			</div>	
			<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="index">Inicio</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="agenda">Agenda</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="beneficios">Beneficios y Becas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="contacto">Contáctanos</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
           Datos 
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
             <li><a class="dropdown-item" th:href="@{/ListaD}">Docentes</a></li>
             <li><a class="dropdown-item" th:href="@{/ListaA}">Alumnos</a></li>      
            <li><a class="dropdown-item" th:href="@{/ListaB}">Becas</a></li>
       		<li><a class="dropdown-item" th:href="@{/ListaCursos}">Cursos</a></li>
            <li><hr class="dropdown-divider"></li>
           <!-- <li><a class="dropdown-item" href="#">Something else here</a></li> --> 
          </ul>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
	</header>
</body>
</html>
