/*link*/
a{
    text-decoration: none;
    font-size:1vw;
    color:#000000;
}
/*cuando el puntero pasa cambia de color a este */
a:hover{
    color:blue;
}

/*los parrafos estan en negro ,centrado,tamaño1vw,altura de cada renglon 200%y la fuente Arial*/
p{
	
    color:#000000;
    text-align:center;
    font-size:1vw;
    line-height:200%;
    font-family: Arial, Helvetica, sans-serif;
}
/*la clase titulo son para los h1 y h2  en arial y su grosor de 400 <h1class="titulo" dfdfh1</h2>*/
.titulo{
   
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
}
/*parrafo en clase color blanco ,centrado ,tamaño 1vw,altura de cada renglon 200%, tipo de letra arial y color de fondo negro*/
.parrafo{
    color:#e1e0e5;
    text-align:center;
    font-size:1vw;
    line-height:200%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #000000;
}
/*cambia la primera letra (le da formato a la primera letra del parrafo)*/
.parrafo::first-letter{
color:rgb(84, 68, 187);
}